[gerrit]
        basePath = git
        canonicalWebUrl = http://chromebox.samok.fr:81/gerrit/
[database]
        type = h2
        database = /var/gerrit/review_site/db/ReviewDB
[noteDb "changes"]
        disableReviewDb = true
        primaryStorage = note db
        read = true
        sequence = true
        write = true
[index]
        type = LUCENE
[auth]
        type = HTTP
[receive]
        enableSignedPush = false
[sendemail]
        smtpServer = localhost
        enable = false
[container]
        user = gerrit2
        javaHome = /usr/lib/jvm/java-1.8-openjdk/jre
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = proxy-http://127.0.0.1:8081/gerrit
[cache]
        directory = cache
[plugins]
        allowRemoteAdmin = true
[plugin "events-log"]
        storeUrl = jdbc:h2:/var/gerrit/review_site/db/ChangeEvents
[gitweb]
        cgi = /usr/share/gitweb/gitweb.cgi
        type = gitweb
